* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Barlow", sans-serif;
	border-radius: 0;
}

body {
	min-height: 100vh;
	background: url(./bg.png) rgb(233, 233, 233);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: auto;
}
h1 {
	color: rgb(233, 159, 0);
}
h3 {
	margin: 15px 0;
	font-size: 1.4em;
	font-weight: 500;
	color: rgb(39, 39, 39);
}
.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	min-height: 100vh;
	width: 100%;
}
header {
	display: flex;
	justify-content: center;
	height: 70px;
	background-color: white;
	width: 100%;
	margin-bottom: 40px;
	height: 20%;
}
.header-box {
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 1150px;
}
.logo-box {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-direction: row;
	gap: 20px;
}
.logo-box span {
	font-size: 1.4em;
	font-weight: 500;
	color: rgb(233, 159, 0);
}
.logo {
	width: 40px;
}
.nav-item {
	cursor: pointer;
	padding: 10px 20px;
}
sub {
	color: rgb(233, 159, 0);
	font-weight: 500;
}
.error-msg {
	color: crimson;
}
header {
	height: 20%;
}
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 60px;
	height: 80%;
	width: 1150px;
}
.leftContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	width: 70%;
	padding: 60px;
	background: rgb(248, 248, 248);
	border-radius: 2px;
	box-shadow: -100px -100px 0 -90px rgb(233, 159, 0),
		100px 100px 0 -90px rgb(233, 159, 0);
}
label {
	font-weight: 300;
	font-size: 1em;
	margin: 10px 0;
}
.selectInputFieldsBox {
	display: flex;
	flex-direction: row;
	gap: 10px;
}
.from-dropdown,
.to-dropdown {
	display: flex;
	flex-direction: column;
	width: 50%;
}
label {
	user-select: none;
}
select,
option {
	cursor: pointer;
}
select,
input,
option {
	padding: 10px;
	font-size: 1em;
	border: 1px solid #555555;
}
select:focus,
input:focus,
option:focus {
	border: 1px solid rgb(233, 159, 0);
	outline: none;
}

.inputBox,
.outputBox {
	display: flex;
	flex-direction: column;
}
.buttonBox {
	margin: 10px 0;
}
button {
	padding: 10px 30px;
	font-size: 1em;
	border: 1px solid #555555;
	font-weight: 500;
	cursor: pointer;
}
#convertButton {
	background-color: rgb(233, 159, 0);
	color: white;
	border-color: rgb(233, 159, 0);
}
button:hover,
#convertButton:hover {
	background-color: black;
	color: white;
	border: 1px solid black;
}
.rightContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	width: 350px;
	background: rgb(248, 248, 248);
	padding: 30px;
	border-radius: 2px;
}
.item {
	list-style: none;
	line-height: 2em;
	color: black;
	cursor: pointer;
}
.item:hover {
	color: rgb(233, 159, 0);
}

footer {
	width: 1150px;
	display: flex;
	justify-content: space-between;
	margin-top: 80px;
}
#footer-msg {
	align-self: center;
}

/* Media Queries */

/* Tablet (portrait and landscape) */
@media screen and (min-width: 481px) and (max-width: 768px) {
	/* Add tablet-specific styles here */
	body {
		font-size: 2em;
		width: fit-content;
	}
	.wrapper {
		width: fit-content;
	}
	.container {
		padding: 30px;
		flex-direction: column;
		/* width:fit-content; */
	}
	.leftContainer {
		width: 100%;
	}
	.rightContainer {
		width: 100%;
	}
	footer {
		padding: 0 30px;
	}
}

/* Mobile (portrait and landscape) */
@media screen and (max-width: 480px) {
	/* Add mobile-specific styles here */
	body {
		font-size: 2em;
		width: fit-content;
	}
	header {
		width: 100%;
	}
	.logo {
		width: 3em;
	}

	nav {
		display: none;
	}
	.header-box {
		justify-content: start;
		width: 100%;
	}
	.container {
		flex-direction: column;
		width: clamp(330px, 100%, 100%);
		/* max-width: 480px; */
		padding: 10px;
		/* height: auto; */
	}
	.leftContainer, .rightContainer {
		/* width: clamp(330px, 80%, 410px); */
		width: 80%;
		padding: 40px;
	}
	
	.selectInputFieldsBox {
		flex-direction: column;
	}
	.from-dropdown,
	.to-dropdown {
		width: 100%;
	}
	.inputFieldsBox {
		width: fit-content;
	}
}

/* Laptop */
/* @media screen and (min-width: 769px) and (max-width: 1024px) { */
/* Add laptop-specific styles here */
/* } */

/* Desktop
@media screen and (min-width: 1025px) {
	/* Add desktop-specific styles here */
/* } */
/* 
@media only screen and (max-width: 375px) {
	body {
		max-width: 375px;
	}
	.wrapper {
		flex-direction: column;
		width: 100%;
	}
	header {
		width: 100%;
	}
	.header-box {
		z-index: 999;
		width: 100%;
	}
	.container {
		flex-direction: column;
	}
	.leftContainer {
		width: 100vw;
	}
} */
