* {
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

body {
  min-height: 100vh;
  background-color: rgb(236, 236, 236);
  display: grid;
  align-items: center;
  justify-content: center;
}
h1{
    color: rgb(233, 159, 0);

}
h3 {
    font-size: 1.4em;
    color: rgb(39, 39, 39);
}
.error-msg {
  color: crimson;
}
.container
{
    width: 600px;
    height: 400px;
    padding: 40px;
    background: rgb(248, 248, 248);
    border-radius: 2px;
    box-shadow: -100px -100px 0 -90px rgb(233, 159, 0),
                100px 100px 0 -90px rgb(233, 159, 0);
}
