* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    background-color: antiquewhite;
}

h3 {
    font-size: 2em;
    color: blueviolet;
}